.nav-bar{
    background-color: rgb(58, 56, 56);
    
    height: 50px;
}


.container-1{
    background-color: rgb(41, 196, 149);
    display: flex;
    justify-content: center;
}

.box-1{
    width: 350px;
    height: 260px;
    background-color: cornflowerblue;
    justify-content: center;
}



.container-2{
    background-color: rgb(255, 255, 255);
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

/*  
.portfolio-titolo{
    text-align: center;
    height: 20px;
}
*/

.img-row{
   background-color: rgb(192, 136, 147);
   height: 150px;
   border: lavenderblush solid 3px;
  
   
}

.container-3{
    background-color: rgb(4, 185, 131);
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}


.box-3{
    width: 250px;
    height: 200px;
    background-color: cornflowerblue;
    justify-content: center;
}

.col-box-3{
    
    font-size: 9px;
    border: blueviolet solid 3px;
}

.footer-1{
    background-color: rgb(35, 35, 110);
    height: 100px;
}

.footer-2{
    background-color: rgb(24, 24, 65);
    height: 50px;
}