.nav-bar{
    background-color: rgb(58, 56, 56);
    height: 50px;
}



.header-container{
    background-color: #19bc9b;
    padding: 50px 0;
}

.header-content{
    text-align: center;
}


h2{
    font-size: 30px;
    color: white;
}

.i::after{
   border: 2px solid black; 
   width: 10px;
   height: 2px;
   flex-grow: ;
}

h4{
    color: white;
}


.container{
    text-align: center;
}

.box{ 
   margin-bottom: 20px;  
}

.container-3{
    background-color: #19bc9b;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    height: 280px;
}


.box-3{
    width: 550px;
    height: 210px;
    text-align: center;
    padding: 10px;
    
}

#color-h3{
    color: white;
}
.star-3{
    color: white;
}
.col-box-3{
    color: white;
    text-align: left;
    font-size: 11px;
    margin-left: 10px;
}


.button{
    color: white;
    background-color: #19bc9b;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    border: white solid 1px;
    border-radius: 5px 5px 5px 5px;
}

/* container -4 */

.container-4{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 400px;
    padding: 10px;
}


.contact-form>input{
border: 0;
border-bottom: 1px rgb(92, 90, 90) solid;
width: 500px;
margin-bottom: 10px;
}

.contact-form>textarea{
    border: 0;
    border-bottom: 1px rgb(92, 90, 90) solid;
    width: 500px;
    margin-bottom: 10px;
    }



.button-send{
    color: white;
    background-color: #19bc9b;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    margin-right: 32%;
    border: white solid 1px;
    border-radius: 5px 5px 5px 5px;
    }    
/* --------------- */


.container-5{
    width: 100%;
}





footer{
    background-color: rgb(30, 59, 77);
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.box-footer{
    flex: 2;
    height:160px;
    width: 310px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 30px;
}


.icons-border{
    border: white solid 1px;
    border-radius: 50%;
    padding: 8px;   

}

.color-text{
    color: seagreen;
}

.container-6{
    width: 100%;
}



.footer-fine{
    background-color: rgb(18, 18, 46);
    height: 50px;
    color: white;
    text-align: center;
    padding: 10px;
    
}
